
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(141, 183, 234);
    font-size: 20px;
    
}

body label{
    font-size: 22px;
}

body input{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 10px;
    width: 500px;
    padding: 3px 5px;
}

body button{
    font-size: 18px;
}

body p{
    margin-bottom: 10px;
}


.signup-container , .login-container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    
}

.signup-input , .login-input{
    border: 2px solid white;
    padding: 30px;
    border-radius: 15px;
}

.btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.submit-btn , .add-product-btn{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(235, 202, 125);
    box-shadow: 0px 6px 6px rgba(0,0,0,.4);
    margin-bottom: 10px;
}

.submit-btn:hover , .add-product-btn:hover, .button-loading:hover{
    background-color: rgb(238, 154, 51);
    cursor: pointer;
    transition: all ease-in-out 300ms;
}


/* Button loading spinner */

.button-loading{
    
    width: 86px;
    height: 31px;
    border: none;
    background-color: rgb(235, 202, 125);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, .4);
    margin-bottom: 10px;
    border-radius: 5px;
}

/* ------------------------------------------------- */

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    height: 73px;
    background-color: rgb(70, 70, 181);
    
}

.nav-items , .header-title{
    display: flex;
    align-items: center;
}

.nav-items{
    margin-right: 50px;
}

.header-title{
    margin-left: 50px;
    color: blanchedalmond;
    font-size: 30px;
    font-weight: bold;
}

.header ul li{
    display: inline;
    padding: 10px 20px;
    font-size: 25px;
    
}

.header ul li a{
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.header ul li a:hover{
    color: rgb(244, 55, 55);
    text-decoration: underline;
}

/* ------------------------------------------------------ */

/* card */

.products-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card{
    width: 350px;
    background-color: rgb(224, 222, 222);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.product-image{
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.product-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product-image img:hover{
    transform: scale(1.05);
    transition: all ease-in-out 300ms;
}

.cart-btn{
    display: flex;
    justify-content: space-between;
}

.add-to-cart , .update-product{
    padding: 5px 20px;
    background-color: rgb(50, 139, 223);
    border: none;
    border-radius: 5px;
    width: 48%;
}

.add-to-cart:hover , .update-product:hover{
    background-color: rgb(83, 83, 205);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    color: white;
}

.view-product , .delete-product{
    width: 48%;
    padding: 5px 20px;
    background-color: rgb(86, 178, 86);
    border: none;
    border-radius: 5px;
}

.view-product:hover{
    background-color: rgb(42, 107, 42);
    color: white;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.delete-product{
    background-color: rgb(222, 55, 55);
}

.delete-product:hover{
    background-color: rgb(139, 13, 13);
    color: white;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}
/* ------------------------------------------ */

/* Cart-card */

.cart-container{
    margin: 20px 50px 0px 50px;
    display: flex;
    flex-direction: column;
}

.cart-card{
    width: 100%;
    background-color: rgb(224, 222, 222);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

.cart-card-image{
    height: 300px;
    width: 20%;
    border-radius: 10px;
    overflow: hidden;
    
}

.cart-card-image img{
    width: 100%;
    height: 100%;
}

.cart-card-details{
    width: 78%;
}

.remove-from-cart , .buy-product{
    padding: 5px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
}

.remove-from-cart{
    background-color: rgb(226, 85, 85);
    
}

.remove-from-cart:hover{
    transition: all ease-in-out 250ms;
    background-color: rgb(152, 35, 35);
    color: rgb(220, 218, 218);
}

.buy-product{
    background-color: rgb(102, 214, 102);
}

.buy-product:hover{
    transition: all ease-in-out 250ms;
    background-color: rgb(29, 142, 29);
    color: rgb(220, 218, 218);
}

.quantity{
    display: flex;
    margin-bottom: 10px;
}

.quantity-value{
    padding: 2px 0px;
    width: 70px;
    background-color: white;
    text-align: center;
}

.decrease, .increase{
    padding: 2px 7px;
    border: none;
    font-size: 20px;
    background-color: rgb(239, 194, 134);
    width: 30px;
}

.decrease:hover , .increase:hover{
    background-color: rgb(236, 165, 79);
    cursor: pointer;
}


/* ------------------------------------------- */

/* Single product */

.single-product{
    margin: 20px 50px;
    font-size: 25px;
}

.single-product-image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.single-product span{
    font-weight: bold;
}

.single-product-image img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}


/* ------------------------------------------- */

/* Orders-table */

.orders-table{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

th{
    min-width: 100px;
    background-color: rgb(37, 151, 146);
    padding: 5px 10px;
    text-align: center;
}

td{
    min-width: 100px;
    background-color: cadetblue;
    padding: 5px 15px;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}


.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
}

.title h2{
    text-align: center;
}


/* ----------------------------------------- */

/* Admin Add product */

.add-product-btn-container{
    display: flex;
    justify-content: center;
}

.add-product{
    font-size: 20px;
    background-color: rgb(171, 68, 239);
    margin: 20px 0px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
}

.add-product:hover{
    background-color: rgb(122, 29, 185);
    color: white;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}

.search-product-container{
    display: flex;
    justify-content: center;
}

.search-product-container input{
    border-radius: 5px;
    border: none;
    padding: 3px 5px;
}

/* --------------------------------------- */

/* Add product input */

.add-product-input-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-product-input-container textarea{
    margin-top: 5px;
    width: 100%;
    resize:none;
    
}

.admins-list{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
